<div class="jumbotron text-center">
    <h1>VoIP Self Service Test Center</h1>

</div>
<form action="">
<div class="container mt-5 px-4 py-4">
    <mat-card>
        <mat-card-title>Instruction:</mat-card-title>
        <mat-card-content>
            <h1> Please Answer the following question before proceeding.</h1>

            <h3 style="font-weight:bold">Is the caller ID name what you expected:
                <mat-radio-group aria-label="Select an option" required>
                    <mat-radio-button value="1">Yes </mat-radio-button>
                    <mat-radio-button value="2">No </mat-radio-button>
                </mat-radio-group>
            </h3>

            <h3 style="font-weight:bold">Do you hear ringing?
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Yes </mat-radio-button>
                    <mat-radio-button value="2">No </mat-radio-button>
                </mat-radio-group>
            </h3>

            <h3 style="font-weight:bold">The digits you entered
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Yes </mat-radio-button>
                    <mat-radio-button value="2">No </mat-radio-button>
                </mat-radio-group>
            </h3>


        </mat-card-content>


        <div>

            <button mat-raised-button color="warn" routerLink='/BasicNetworkBoundTestStatus'> <i
                    class="material-icons">input</i>Continue</button>
                   
        </div>
    </mat-card>


</div>

</form>