<div class="jumbotron text-center">
    <h1>VoIP Self Service Test Center</h1>

</div>

<div class="container mt-5 px-4 py-4">
    <mat-card>
        <mat-card-title>Basic Network Bound Test Status:</mat-card-title>
        <mat-card-content>
            <div class="jumbotron text-center">
                <h3><b>Line in Ringing</b></h3> 
                <h3><b>Calling Number - 888-555-1212</b></h3>
                <h3><b>Caller Name - John Doe</b></h3>  
            
            </div>
            <ul>
                <h3>
                    <li>Is the caller ID name what you expected: 
                        <select name="" id="" class="form-control" style="width: 10%;">
                            <option value="">Yes</option>
                            <option value="">No</option>
                        </select>
                    </li>
                </h3>

                <h3>
                    <li>Do you hear ringing? 
                        <select name="" id="" class="form-control" style="width: 10%;">
                            <option value="">Yes</option>
                            <option value="">No</option>
                        </select>
                    </li>
                </h3>

                <h3>
                    <li>The digits you entered:
                         <select name="" id="" class="form-control" style="width: 10%;">
                            <option value="">Yes</option>
                            <option value="">No</option>
                        </select>
                    </li>
                </h3>
            </ul>
        </mat-card-content>

        <div>
            <button mat-raised-button color="warn" routerLink='/BasicNetworkBoundTestStatus'> <i class="material-icons">input</i>Continue</button>
        </div>
    </mat-card>


</div>