<div class="jumbotron text-center">
    <h1>VoIP Self Service Test Center</h1>

</div>

<div class="container mt-5 px-4 py-4">
    <mat-card>
        <mat-card-title>Basic Network Bound Test Status:</mat-card-title>
        <mat-card-content>
            <div class="jumbotron text-center">
                <h3><b>Line in Ringing</b></h3> 
                <h3><b>Calling Number - 888-555-1212</b></h3>
                <h3><b>Caller Name - John Doe</b></h3>  
            
            </div>
            <div>
                <h2>Please enter {{pinNumber}} followed by # on your phone</h2>
            </div>
        </mat-card-content>

        <div>
            <button mat-raised-button color="warn" routerLink='/BasicNetworkBoundTwoWayAudio'> <i class="material-icons">input</i> Continue</button>
        </div>
    </mat-card>


</div>